<div class="card">
    <h5 class="card-header">Add Gallery</h5>
    <form class="card-body" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" type="text">
        </div>
        <div class="form-group">
            <label>Kind</label>
            <input class="form-control" name="kind" type="text">
        </div>
        <div class="form-group">
            <label>Group</label>
            <input class="form-control" name="group" type="text">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input class="form-control" name="f" type="file">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>