<div class="card">
    <h5 class="card-header">Edit About</h5>
    <form class="card-body" enctype="multipart/form-data" method="post">
        <input type="hidden" name="id" value="{{obj._id}}">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" type="text" value="{{obj.title}}">
        </div>
        <div class="form-group">
            <label>Description 1</label>
            <input class="form-control" name="description_s" type="text" value="{{obj.description_s}}">
        </div>
        <div class="form-group">
            <label>Description 2</label>
            <input class="form-control" name="description_b" type="text" value="{{obj.description_b}}">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input name="imageUrl" type="hidden" value="{{obj.imageUrl}}">
            <input class="form-control" name="f" type="file">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>