<div class="card">
    <h5 class="card-header">Add About</h5>
    <form class="card-body" action="/about/add" method="post">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" type="text">
        </div>
        <div class="form-group">
            <label>Description 1</label>
            <input class="form-control" name="description_s" type="text">
        </div>
        <div class="form-group">
            <label>Description 2</label>
            <input class="form-control" name="description_b" type="text">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>


<div class="card">
    <h5 class="card-header">Manage About</h5>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description 1</th>
                    <th>Description 2</th>
                    <th>Image</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {{#each arr}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description_s}}</td>
                    <td>{{this.description_b}}</td>
                    <td>
                        {{#if this.imageUrl}}
                        <img width="70" src="/upload/{{this.imageUrl}}">
                        {{/if}}
                    </td>
                    <td>
                        <a href="/about/edit/{{this._id}}">Edit</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
