<div class="card">
    <h5 class="card-header">Add Trainer</h5>
    <form class="card-body" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" type="text">
        </div>
        <div class="form-group">
            <label>Position</label>
            <input class="form-control" name="position" type="text">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="description" type="text">
        </div>
        <div class="form-group">
            <label>Animation</label>
            <input class="form-control" name="animation" type="text">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input class="form-control" name="f" type="file">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>