<div class="card">
    <h5 class="card-header">Edit Post</h5>
    <form class="card-body" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>Group</label>
            <input class="form-control" name="group" type="text" value="{{obj.group}}">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="hidden" name="imageUrl" value="{{obj.imageUrl}}">
            <img src="/upload/{{obj.imageUrl}}">
            <input class="form-control" name="f" type="file">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>