<div class="card">
    <h5 class="card-header">Edit Group Contact</h5>
    <form class="card-body" method="post">
        <input type="hidden" name="id" value="{{obj._id}}">
        <div class="form-group">
            <label>Contact</label>
            <select class="form-control" name="cid" >
            	{{#each crr}}
            		<option value="{{this._id}}">{{this.name}}</option>
            	{{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Group</label>
            <input class="form-control" name="group" type="text" value="{{obj.group}}">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>